<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-widt, initial-scale=1">
  <title><%= blog.title %></title>
  <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script type="application/javascript" src="/libs/jquery/dist/jquery.min.js"></script>
  <script type="application/javascript" src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="application/javascript" src="/js/common.js"></script>
</head>
<body>
<div class="container">
