<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= blog.title %></title>
  <link href="/favicon.ico" rel="shortcut icon">
  <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/marked.css">
  <link rel="stylesheet" href="/css/style.css">
  <script type="application/javascript" src="/libs/jquery/dist/jquery.min.js"></script>
  <script type="application/javascript" src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="application/javascript" src="/js/core/common.js"></script>
  <script type="application/javascript" src="/js/core/dialogs.js"></script>
  <script type="application/javascript" src="/js/core/validate.js"></script>
</head>
<body>
<%- include('nav') %>
<div class="container">
