<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close modalClose" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">发表文章</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <form class="post-form" id="infoForm">
              <div class="form-group">
                <label for="title">标题</label>
                <input type="text" class="form-control" name="title" id="title" placeholder="标题">
              </div>
              <div class="form-group">
                <label for="content">内容</label>
                <textarea rows="20" class="form-control" name="content" id="content" placeholder="内容"></textarea>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default modalClose" data-dismiss="modal">关闭</button>
        <button id="create" type="button" class="btn btn-primary">提交</button>
      </div>
    </div>
  </div>
</div>