<%- include('./components/header') %>
<div class="row">
  <div class="col-xs-12">
    <input type="text" class="form-control create-title" name="title" id="title" placeholder="标题">
    <button id="createBtn" class="btn btn-primary position-right btn-sm">保存</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 ">
    <div class="toolbar">
      <div class="classify">
        <i class="md-func fa fa-bold" data-name="bold"></i>
        <i class="md-func fa fa-italic" data-name="italic"></i>
        <i class="md-func fa fa-strikethrough" data-name="strikethrough"></i>
        <i class="md-func fa fa-underline" data-name="underline"></i>
        <i class="md-func fa fa-font" data-name="color"></i>
      </div>
      <div class="spliter"></div>
      <div class="classify">
        <i class="md-func fa fa-quote-left" data-name="quote"></i>
        <i class="md-func fa fa-window-minimize" data-name="splitLine"></i>
        <i class="md-func fa fa-list-ul" data-name="listUl"></i>
        <i class="md-func fa fa-list-ol" data-name="listOl"></i>
      </div>
      <div class="spliter"></div>
      <div class="classify">
        <i class="md-func fa" data-name="h1">h1</i>
        <i class="md-func fa" data-name="h2">h2</i>
        <i class="md-func fa" data-name="h3">h3</i>
        <i class="md-func fa" data-name="h4">h4</i>
        <i class="md-func fa" data-name="h5">h5</i>
        <i class="md-func fa" data-name="h6">h6</i>
      </div>
      <div class="spliter"></div>
      <div class="classify">
        <i class="md-func fa fa-link" data-name="link"></i>
        <i class="md-func fa fa-picture-o" data-name="image"></i>
        <i class="md-func fa fa-code" data-name="code"></i>
        <i class="md-func fa fa-table" data-name="table"></i>

      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6  create-panel">
    <div class="panel-editor" id="panel-editor">
      <div class="editor-content" id="mdeditor" ></div>
    </div>
  </div>
  <div class="col-sm-6 hidden-xs create-panel">
    <div class="panel-preview create-panel" id="panel-preview">
      <div id="preview" class="markdown-body"></div>
    </div>
  </div>
</div>
<script type="application/javascript" src="/libs/marked/lib/marked.js"></script>
<script type="application/javascript" src="/libs/ace-builds/src/ace.js"></script>
<script type="application/javascript" src="/js/create.js"></script>
<%- include('./components/footer') %>